{{>layout/header}}

<h1>게시글 등록</h1>

<div class="col-md-12">
    <div class ="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">

            </div>
        </form>
        <a href="/" role="button" class="btn btn-secontary">취소</a>
        <button type="submit" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}